In [1]:
import sqlalchemy
import pymysql
import pandas as pd
from sqlalchemy import create_engine, MetaData

In [22]:
# Create a reference the CSV file desired
csv_path = "clean_measurements.csv"
csv_path2 = "hawaii_stations.csv"

# Read the CSV into a Pandas DataFrame
clean_measurements_df = pd.read_csv(csv_path)
stations_df=pd.read_csv(csv_path2)

In [23]:
clean_measurements_df.head()

   Unnamed: 0      station        date      prcp  tobs
0           0  USC00519397  2010-01-01  0.080000    65
1           1  USC00519397  2010-01-02  0.000000    63
2           2  USC00519397  2010-01-03  0.000000    74
3           3  USC00519397  2010-01-04  0.000000    76
4           4  USC00519397  2010-01-06  0.160644    73

In [24]:
clean_measurements_df = clean_measurements_df.drop('Unnamed: 0',1)
#clean_measurements_df.set_index('id')
#clean_measurements_df.rename(columns = {"" : "id"}, inplace = True)
clean_measurements_df.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [5]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
clean_measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

engine = create_engine("sqlite:///hawaii.sqlite")

In [8]:
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [25]:
class Station(Base):
    __tablename__ = 'Station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Integer)

In [9]:
conn = engine.connect()
Base.metadata.create_all(engine)

In [10]:
clean_measurements_df.to_sql("measurements", engine, if_exists='replace', index=True)

In [28]:
.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [11]:
conn.execute("select * from measurements limit 5").fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 'USC00519397', '2010-01-04', 0.0, 76),
 (4, 'USC00519397', '2010-01-06', 0.16064353974479206, 73)]

In [12]:
stations_df.to_sql("station", engine, if_exists='replace', index=True)

In [13]:
conn.execute("select * from Station limit 5").fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]